---
import { type Post } from '$lib/reddit/post';
import { formatDistanceToNowStrict, formatRelative } from 'date-fns';

interface Props {
	post: Post;
	showSubreddit?: boolean;
}

const { post, showSubreddit } = Astro.props;
---

<div class:list={['root', { nsfw: post.nsfw, sticky: post.sticky }]}>
	<div class="sidebar">
		{post.score.toLocaleString('en-US')}
	</div>
	<div class="content">
		<h2 class="subtitle">
			{post.nsfw && <span class="nsfw">NSFW</span>}
			{
				showSubreddit && (
					<a href={`/r/${post.subreddit}`} class="subreddit">
						r/{post.subreddit}
					</a>
				)
			}
			<span title={formatRelative(post.timestamp, new Date())}>
				{formatDistanceToNowStrict(post.timestamp, { addSuffix: true })}
			</span>
			 &bull;
			<a href={`/u/${post.author}`}>u/{post.author}</a>
			 &bull;
			<a href={post.comments_url}>{post.comments.toLocaleString('en-US')} comments</a>
			 &bull;
			<span>{post.domain}</span>
		</h2>
		<a class="title" href={post.comments_url}>
			{post.flair && <span class="flair">{post.flair}</span>}
			<span class="title">{post.title}</span>
		</a>
		{
			!post.self && (
				<p class="link">
					<a href={post.data_url}>{post.data_url}</a>
				</p>
			)
		}
	</div>
</div>

<style lang="scss">
	.root {
		@apply flex items-stretch mb-2;
		@apply bg-white rounded overflow-hidden;
		@apply border-gray-100 border;

		&.nsfw {
			@apply border-red-300;
		}

		&.sticky {
			@apply border-green-500;

			.content .title {
				@apply text-green-700;
			}
		}

		.sidebar {
			@apply flex-none bg-gray-100 pt-2 w-16;
			@apply text-gray-500 text-sm font-semibold text-center;
		}

		.content {
			@apply px-2 py-1 min-w-0;

			.subtitle {
				@apply text-xs text-gray-500;

				.nsfw {
					@apply font-bold text-red-600 mr-1;
				}

				a {
					@apply hover:underline;
				}

				.subreddit {
					@apply font-bold mr-1;
				}
			}

			.title {
				.flair {
					@apply inline-block px-1 bg-gray-100 mr-2;
					@apply text-sm text-gray-800;
				}

				.title {
					@apply font-semibold;
				}
			}

			.link {
				@apply mt-1 text-xs;
				@apply whitespace-nowrap text-ellipsis overflow-hidden;

				a {
					@apply text-blue-800 hover:underline;
				}
			}
		}
	}
</style>
